@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
  @apply font-sans bg-axon-background text-axon-text;
  scroll-behavior: smooth;
}

@keyframes slide-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-infinite-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide-infinite {
  animation: slide-infinite 40s linear infinite;
}

.animate-slide-infinite-reverse {
  animation: slide-infinite-reverse 40s linear infinite;
}
